body {
    font: 1.0em/1.3 sans-serif;
    margin: 0;
    padding: 0;
}

.header-image {
    vertical-align: top;
}

.box2 {
    background: lightgray;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    height: 600px;
    width: 300px;
}

.browse {
    background: lightyellow;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    height: 200px;
    width: 200px;
}

h2 {
    font-family: arial;
    color: black;
    font-size: 18px;
    top-margin: 40px;
}

th:first-child,
td:first-child {
    font-weight: bold;
    width: 100px;
}

.th {
    font-size: 14px;
    text-align: left;
    height: 40px;
}

.body {
    font: arial #555555;
}

.main-footer {
    font-size: 12px;
}

td:hover {
    background-color: #feffdb;
    cursor: pointer;
}

.table-header {
    font-size: 18px;
    width: 100px;
}

#ol {
    padding-top: 40px;
}

nav ul li img {
    margin-left: 0px;
    width: 350px;
}

nav ul {
    margin: 0;
    padding: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: flex-end;
    background-color: gray;
}

nav ul li {
    list-style-type: none;
    -webkit-align-self: center;
    padding-right: 100px;
}

select {
    display: block;
    padding: 10px;
    margin: 10px;
    width: 55%;
}

input,
label {
    display: block;
    width: 100px;
    margin-top: 10px;
    padding: 5px;
}

fieldset {
    border: none;
    display: block;
    padding-top: 25px;
    height: 500px;
    width: 300px;
}
/*-----MEDIA QUERY--------*/

@ media screen and(max-width: 480px) nav {
    width: 100px;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    margin: 0 auto;
    padding: left 0;
}

nav ul li {
    text-align: center;
    margin: left 0 auto;
    width: 100%;
}
